<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBanZUO2M_nepTFdL-ipGeAhXZuhV7USP8</string>
	<key>GCM_SENDER_ID</key>
	<string>998018651905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aquaTrace.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginauthaquatrace</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauthaquatrace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998018651905:ios:042277098690f559476d00</string>
</dict>
</plist>